* { box-sizing: border-box; }

#pagetitle {
    font-family: 'Oswald', sans-serif;;
    font-size:24px;  
}

.main_sidebar {
    min-height:100vh;
    position:fixed;
    top:0;
    left:0;
    z-index: 10;
    width:350px;
    transition: all 300ms cubic-bezier(0.65, 0.05, 0.36, 1);
    will-change: left, width;
    box-shadow: inset -1px 0 10px rgba(0, 0, 0, 0.4);
    background: #293749;
}
.main_sidebar:after {
    content: '';
    background-color: #253238;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 58px;
}
.main_sidebar ul {
    list-style:none;
    padding-left:58px;
}
.main_sidebar ul li {
    padding:10px;
}
.main_sidebar ul li a {
    color:#fff;
    display:block;
}
.main_sidebar ul li i {
    float:left;
    color:grey;
    margin-left:-58px;
    font-size:24px;
    padding-left:7px;
}
.main_sidebar ul li:hover {
    background:#167696;
}
.main_sidebar ul li a:hover {
    color:#fff;
    text-decoration:none;
}
.main_sidebar ul li:hover i {
    color:#fff;
}
.main_sidebar ul li.active {
    background:#0f4698;
}
.main_sidebar ul li.active i {
    color:#fff;
}
.main_sidebar ul li.active:hover {
    background:#167696;
}
.main_sidebar ul li.active:hover i {
    color:#fff;
}

.main {
    float:right;
    color:#fff;
    display:block;
    width:100%;
    background: #aca;
    min-height:100vh;
}

body {
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    background:#fff;
    font-family: sans-serif;
}


@font-face {
    font-family: 'Oswald', sans-serif;;
}

@font-face {
    font-family: TightPixel;
    src: url(../res/tight_pixel.ttf);
}


/* ---- button ---- */

.button {
  display: inline-block;
  padding: 0.3em 0.3em;
  background: #EEE;
  border: none;
  border-radius: 7px;
  background-image: linear-gradient( to bottom, hsla(0, 0%, 0%, 0), hsla(0, 0%, 0%, 0.2) );
  color: #222;
  font-family: 'Oswald';
  font-size: 16px;
  text-shadow: 0 1px white;
  cursor: pointer;
}

.button:hover {
  background-color: #8CF;
  text-shadow: 0 1px hsla(0, 0%, 100%, 0.5);
  color: #222;
}

.button:active,
.button.is-checked {
  background-color: #28F;
}

.button.is-checked {
  color: white;
  text-shadow: 0 -1px hsla(0, 0%, 0%, 0.8);
}

.button:active {
  box-shadow: inset 0 1px 10px hsla(0, 0%, 0%, 0.8);
}

/* ---- button-group ---- */

.button-group {
  margin-top: 5px;
  margin-bottom: 5px;
}

.button-group:after {
  content: '';
  display: block;
  clear: both;
}

.button-group .button {
  float: left;
  border-radius: 0;
  margin-left: 0;
  margin-right: 1px;
}

.button-group .button:first-child { border-radius: 0.5em 0 0 0.5em; }
.button-group .button:last-child { border-radius: 0 0.5em 0.5em 0; }

/* ---- isotope ---- */

.grid {
  border: 1px solid #333;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .element-item ---- */

.element-item {
  position: relative;
  float: left;
  width: 226px;
  height: 256px;
  margin: 2px;
  padding: 10px;
  color: #262524;
}

.element-item > * {
  margin: 0;
  padding: 0;
}

.element-item .symbol {
  position: absolute;
  left: 4px;
  top: 4px;
  font-family: '';
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  font-size: 23px;
  font-weight: bold;
  line-height: 1em;
  color: white;
}

.element-item .name {
  position: absolute;
  font-family: 'Oswald';
  left: 4px;
  top: 50px;
  text-transform: none;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: normal;
}

.element-item .express {
  position: absolute;
  left: 4px;
  bottom: 4px;
  font-family: 'Oswald';
  text-transform: none;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: bold;
}

.element-item .example {
  position: absolute;
  left: 4px;
  top: 102px;
  font-family: 'Oswald';
  text-transform: none;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: bold;
  line-height: 22px;
}

.element-item .translate {
  position: absolute;
  left: 4px;
  top: 172px;
  font-family: 'Oswald';
  text-transform: none;
  letter-spacing: 0;
  font-size: 15px;
  font-weight: bold;
}

.element-item .number {
  position: absolute;
  font-family: 'Oswald';
  right: 3px;
  top: 3px;
  font-size: 11px;
}

.element-item .level {
  position: absolute;
  right: 3px;
  bottom: 3px;
  font-family: 'Oswald';
  font-size: 12px;
}

.element-item .video1 {
  position: absolute;
  right: 3px;
  bottom: 16px;
  font-family: 'Oswald';
  font-size: 12px;
}

.element-item .video2 {
  position: absolute;
  right: 3px;
  bottom: 28px;
  font-family: 'Oswald';
  font-size: 12px;
}

.element-item .video3 {
  position: absolute;
  right: 3px;
  bottom: 40px;
  font-family: 'Oswald';
  font-size: 12px;
}

.element-item .video4 {
  position: absolute;
  right: 3px;
  bottom: 52px;
  font-family: 'Oswald';
  font-size: 12px;
}

.element-item .video5 {
  position: absolute;
  right: 3px;
  bottom: 64px;
  font-family: 'Oswald';
  font-size: 12px;
}

.element-item .weight {
  position: absolute;
  left: 10px;
  top: 76px;
  font-size: 12px;
}

h3 {
  font-family: 'PressStart2P';
}

.element-item.N5           { background: #11c2f6; border-radius: 8px; } 
.element-item.N5 .symbol   { color: #fce211; } 
.element-item.N4           { background: #ff9e02; border-radius: 8px; } 
.element-item.N4 .symbol   { color: #a17ddf; } 
.element-item.N3           { background: #728cc7; border-radius: 8px; } 
.element-item.N3 .symbol   { color: #a9cf18; } 
.element-item.N2           { background: #54b882; border-radius: 8px; } 
.element-item.N2 .symbol   { color: #e64849; } 
.element-item.N1           { background: #e64849; border-radius: 8px; } 
.element-item.N1 .symbol   { color: #54b882; } 

// .element-item.masu        { background: #11c2f6; background: hsl(   0, 100%, 50%); }
.element-item.arancione     { background: #F80; background: hsl(  36, 100%, 50%); }
.element-item.interaction          { background: #FF0; background: hsl(  72, 100%, 50%); }
.element-item.world           { background: #0F0; background: hsl( 108, 100%, 50%); }
.element-item.player          { background: #088; background: hsl( 120, 100%, 25%); }
.element-item.post-transition { background: #0FF; background: hsl( 180, 100%, 50%); }
.element-item.avatar        { background: #08F; background: hsl( 216, 100%, 50%); }
.element-item.violone        { background: #00F; background: hsl( 252, 100%, 50%); }
.element-item.graphics         { background: #F0F; background: hsl( 288, 100%, 50%); }
.element-item.noble-gas       { background: #F08; background: hsl( 324, 100%, 50%); }
