/*---------------------------------------------------------------------------------------------------------
// 	Fonts available:
//  jaf-bernino-sans-condensed
//	kepler-std, 400 (regular) & 700 (bold), normal & itlaic
// 	Lato, normal: 300 (light), 400 (regular), 700 (bold), 900 (black) and italic 400 (regular)
//-------------------------------------------------------------------------------------------------------*/
body
{
	margin:					0;
	padding:				0px 0 0 0;

	background-color:		#FFFFFF;

	/*	Default text styles	----------------------------*/
	font-family:			"kepler-std", Georgia, serif;
	color:					#444444;
	font-size:				18px;
	line-height:			1.4em;
	
}
small {
	font-size:			12px;
}
.magicpre {
	font-size:				8px;
}
.wordnet {
	font-size: 14px;
	overflow-wrap: break-word;
	word-wrap: break-word;
	-ms-word-break: break-all;
	/* This is the dangerous one in WebKit, as it breaks things wherever */
	word-break: break-all;
	/* Instead use this non-standard one: */
	word-break: break-word;
}
.info { font-size: 14px;  }
.title { height: 40px; line-height: 40px; padding-left: 20px; margin-top: -14px; }
.strenght { 
	position: relative; 
	top: -16px;
	float: right;
	margin-right: 4px;
	color: #fff; 
	background-color: #c00; 
	width: 50px;
	height: 50px;	
	line-height: 40px; 
	text-align: center;
	vertical-align: middle;
	font-family: "kepler-std", Georgia, serif;
	font-size: 36px;
	font-weight: bold;
}
.life { 
	position: relative; 
	top: -16px;
	float: right;
	margin-right: 4px;
	color: #fff; 
	background-color: #0c0; 
	width: 50px;
	height: 50px;	
	line-height: 40px; 
	text-align: center;
	vertical-align: middle;
	font-family: "kepler-std", Georgia, serif;
	font-size: 36px;
	font-weight: bold;
}
.level { 
	position: relative; 
	top: -16px;
	float: right;
	margin-right: 4px;
	color: #fff; 
	background-color: #000; 
	width: 50px;
	height: 50px;	
	line-height: 40px; 
	text-align: center;
	vertical-align: middle;
	font-family: "kepler-std", Georgia, serif;
	font-size: 36px;
	font-weight: bold;
}
.red { color: #fff; background-color: #c00; }
.green { color: #fff; background-color: #090; }
.white { color: #000; background-color: #ffc; }
.blue { color: #fff; background-color: #00f; }
.black { color: #fff; background-color: #000; }
.colorless { color: #000; background-color: #999; }
.gold { color: #000; background-color: #fc0; }
#card img {
    	width: 460px; 
    	position: absolute;
    	top: -70px;
    	left: -50px;
    	margin-left: 8px;  margin-top: 6px;
    	clip: rect(66px 420px 358px 43px); // top, right, bottom, left
}
#Plane img {
    	width: 1260px; 
    	position: absolute;
    	top: -110px;
    	left: -348px;
    	clip: rect(106px 728px 398px 350px); // top, right, bottom, left
    	margin-left: 8px;  margin-top: 6px;
    	/* clip: shape(top right bottom left); NB 'rect' is the only available option */
}
#Phenomenon img {
    	width: 860px; 
    	position: absolute;
    	top: -70px;
    	left: -50px;
    	clip: rect(86px 220px 210px 250px); // top, right, bottom, left
    	/* clip: shape(top right bottom left); NB 'rect' is the only available option */
}
#Planeswalker img {
    	width: 500px; 
    	position: absolute;
    	top: -66px;
    	left: -48px;
    	clip: rect(66px 430px 360px 50px); // top, right, bottom, left
    	/* clip: shape(top right bottom left); NB 'rect' is the only available option */
}
@media screen {
@font-face {
  	font-family: 'Philosopher';
  	font-style: normal;
  	font-weight: normal;
  	src: local('Philosopher'), url('http://127.0.1.1/philosopher.ttf') format('truetype');
}
}
strong { font-family: 'Philosopher', arial, serif; }
td { width: 320px; vertical-align:top; }
small { font-size: 10px; }
pre {
	white-space: pre-wrap; /* css-3 */
	white-space: -moz-pre-wrap !important; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

/*
http://stackoverflow.com/questions/7415872/change-color-of-png-image-via-css
https://css-tricks.com/almanac/properties/f/filter/
*/

.cardimage { margin-left: 5px;  margin-top: 10px; }

/*Filter styles*/
.grayscale {-webkit-filter: grayscale(1); filter: grayscale(1);}
.saturate {-webkit-filter: saturate(3); filter: saturate(3);}
.contrast {-webkit-filter: contrast(160%); filter: contrast(160%);}
.brightness {-webkit-filter: brightness(0.25); filter: brightness(0.25);}
.blur {-webkit-filter: blur(3px); filter: blur(3px);}
.invert {-webkit-filter: invert(100%); filter: invert(100%);}
.sepia {-webkit-filter: sepia(100%); filter: sepia(100%);}
.huerotate {-webkit-filter: hue-rotate(180deg); filter: hue-rotate(180deg);}
.rss.opacity {-webkit-filter: opacity(50%); filter: opacity(50%);}