.container {
    position: relative;
    width: 1260px;
    height: 600px;
    margin: 20px;
    border: 1px solid #ccc;
}

.mersenne {
    position: relative;
    top: -16px;
    left: 10px;
    height: 2px; 
    margin: 2px;
    text-align: left;
}

.version {
    position: absolute;
    top: 0px;
    right: 10px;
    margin: 20px;
    margin-bottom: 2px;
    text-align: right;
}

.messages {
    float: right; 
}

textarea {
    width: 800px;
    height: 100px;
    border: 1px solid #ccc;
}

.image-container {
    position: absolute;
    top: 0px;
    width: 512px;
    height: 512px;
    margin: 20px;
    border: 1px solid #ccc;
}
  
.image-container img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls_main {
    left: 532px;
}

.layertype {
    vertical-align: middle;   
    width: 40px;
    height: 40px;
    font-weight: 900;
    margin-right: 1px;
}

.imagetmb {
    vertical-align: middle;   
    width: 40px;
    height: 40px;
    margin-right: 1px;
}

.controls1 {
    position: absolute;
    top: 0px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls2 {
    position: absolute;
    top: 40px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls3 {
    position: absolute;
    top: 80px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls4 {
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls5 {
    position: absolute;
    top: 160px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls6 {
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls7 {
    position: absolute;
    top: 240px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls8 {
    position: absolute;
    top: 280px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls9 {
    position: absolute;
    top: 320px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls10 {
    position: absolute;
    top: 360px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls11 {
    position: absolute;
    top: 400px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls12 {
    position: absolute;
    top: 440px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls13 {
    position: absolute;
    top: 480px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls14 {
    position: absolute;
    top: 520px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls15 {
    position: absolute;
    top: 560px;
    display: flex;
    flex-direction: row;
    z-index: 1000;
}

.controls button {
    margin-right: 10px;
}

button {
    margin-right: 1px;
}
